[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/plugins/start/haskell-vim"]
	path = .vim/pack/plugins/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule ".vim/pack/plugins/start/vim-syntax-shakespeare"]
	path = .vim/pack/plugins/start/vim-syntax-shakespeare
	url = https://github.com/pbrisbin/vim-syntax-shakespeare.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugins/start/dart-vim-flutter-layout"]
	path = .vim/pack/plugins/start/dart-vim-flutter-layout
	url = https://github.com/tiagofumo/dart-vim-flutter-layout.git
